/* light 테마 */
.light { background-color: #f0f0f0; color: #353535; } 

/* dark 테마 */

.dark { background-color: #353535; color: #f0f0f0; } 

/* 공통 스타일 */
button { margin: 20px; padding: 10px; font-size: 16px; } 