@charset "utf-8";
@import url(https://qwerewqwerew.github.io/source/style/reset.css);
/* ================================== */
/* ===공통=========================== */
/* ================================== */

html {
	font-size: min(max(1rem, 4vw), 16px);
}

body {
	font-size: clamp(100%, 1rem + 2vw, 16px);
	padding-bottom: 200px;
}

.inner {
	width: min(1000px, 80%);
	margin: auto;
}


/* ==================================== */
/* ===컴포넌트========================== */
/* ==================================== */



/* ===List=== */
.group {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;

	&:last-child {
		margin-bottom: 4rem;
	}
}

.list {
	& {
		display: flex;
		flex-direction: column;
		width: min(20%, 20rem);

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.list-txt-wrap {
		position: relative;
	}

	.list-txt-title {
		position: relative;
		width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #555;
	}


	.list-txt-way {
		font-size: 16px;
		position: absolute;
		z-index: 99;
		background: #555;
		color: #fff;
		padding: 4px;
		border-radius: 3px;
		white-space: nowrap;
		right: 0;
		bottom: 100%;
	}
}

/* ===Navi=== */
nav {
	position: fixed;
	width: 100vw;
	bottom: 0;
	background: #ffffff67;
	backdrop-filter: blur(20px);
	z-index: 999;
	box-shadow: 0 -2px 8px rgba(43, 95, 82, 0.102);

	.inner {
		display: flex;
		gap: 3rem;
		justify-content: center;

		a {
			font-size: 1em;
			color: #3e8a77;
			padding: 1rem;
			transition: color 0.5s;

			&:hover {
				text-decoration: underline;
			}

			&.active {
				color: #8a3e3e;
			}
		}
	}
}

/* ===Title=== */
.title {
	margin: 4% auto 0;
	color: #3a524c;

	h1& {
		font-size: 1.8em;
		font-weight: 800;
		color: #3e8a77;
	}

	h2& {
		font-size: 1.5em;
		font-weight: 700;
	}


}